.overlay{
    position: 'fixed';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-Color: 'rgba(0, 0, 0, .7)';
  z-Index: 1000
}

.modal{
    position: 'fixed';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  background-Color: '#FFF';
  padding: '50px';
  z-Index: 1000;
}

.button-wrapper{
  position: 'relative';
  z-Index: 1;
}

.other-content{
  position: 'relative';
  z-Index: 2;
  background-Color: 'red';
  padding: '10px';
}