.playlistlink{
    color:white;
    font-weight: 700;
    font-family: sans-serif;
    
}


.Buttonlink{
    color:black;
}

.Buttonlink:hover{
    color:black;
}
.playlistcardstyle{
    opacity:0.8; 
    width: 15rem;
    padding:18px;

    margin-left: 5rem ;
    background-color:black;
  }

.playlistcardtitle{
    color:white;
    padding:20px;
}


.createplaylistbutton{
    padding:10px;
    margin:10px
} 