.trash{
   
    fill:white;
    align-self: start;
}
.trash-align{
    padding-left: 15rem;
}

.link{
    color:black
}

.button{
    padding-left: 14rem;
}

.namestyle{
    padding-left: 16rem;
    color: rgb(166, 189, 197);
}