.Navigation {
    color: black;
    
  }
  .nav-Link{
      color:gray;
      font-size: bold;
      font-weight: bold;
      padding: 1rem;
  }
  .nav-link.active {
    font-weight: bold;
    color: rgb(160, 150, 150);
  }

  .navbar-brand{
      color: grey;
      font-weight: bold;
      padding: 1rem;
  }