.Navigation {
    color: black;
    
  }
  .navbar-nav .nav-item{
    color:rgb(166, 189, 197);
    font-size: bold;
      font-weight: bold;
      padding: 1rem;
      font-family: sans-serif;
  }

 
  .nav-link{
    
      color:orange;
      font-size: bold;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      padding: 1rem;
      font-size: 1.25rem;
  }

  .nav-link:active{
    color:black;
  }

  .nav-link:hover{
    font-weight: bold;
    color: darkgray;
  }

  .navbar-brand{
      /* color:rgb(166, 189, 197); */
      color:orange;
      font-weight: bold;
      font-size: 2rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      padding: 1rem;
  }

  .navbar-brand:hover{
    color:darkgrey;
  }