.CarouselComp{
   
}
.five.wide.column{
 
   margin: 50px;
 }
 
 .eleven.wide.column{
   padding-top: 0px;
   color:white;
 }


 .link{
  color:black;
}
.ui.embed{
  padding-top: 8rem;
  padding-left:16rem;
}
/* .ui.header{ 
  padding-left: 20rem;
  
} */
.FeaturedVideoDetail{
  padding-left:0rem;
  max-height:500px;
  max-width: 300px;
}
.video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
  padding-top: 0px;
  padding-left: 15rem;
  padding-bottom: 20px;
  padding-right:20px;
  color:white
}

.video-item.item img {
  max-width: 500px;
  max-height: 250px ;
}

.video-list {
  padding-top: 10rem;
border-left: 1px solid lightgray;
grid-row: span 2;
padding: 0px 20px;
height: 100%;
overflow: auto;
}

iframe{
 
  width: 600px;
  height: 400px;
  padding-left:4px;
  padding-bottom: 5rem;
  align-items: center;
  z-index:100000;
  
}

.FeaturedPageh1{
  padding-left:15rem;
  padding-bottom: 10px;
  color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.FeaturedVideoButton{
  background-color: rgb(166, 189, 197);
}
.ui.segment{
 padding-left: 10rem;
 color:black
}
 
/* .ui.header{
  padding-left: 10rem;
  padding-top:2rem;
  font-style: italic;
  font-family: sans-serif;
  
} */

.Alert{
  align-items: center;
}