h3{
    color:orange;
}

.form-group{
    width: 200px;
    height: 70px;
}
.form-control{
    background-color:wheat;
}
.card{
    background-color: gray;
    opacity: 0.8;
}

.btn{
    background-color: orange;
}

.form{
    padding-left: 5rem;
    padding-right:5rem;

}