h3{
    color:orange;
}
.card-body{
    width:30rem;
}
.form-group{
    width: 25rem;
    height: 70px;
}
.form-control{
    background-color:wheat;
}
.card{
    background-color: gray;
    opacity: 0.8;
}

.btn{
    background-color: orange;
}

.form{
    padding-left: 1rem;
    padding-right:5rem;

}

.card-body{
    width:30rem;
}