
h3{
    color:orange;
}

.form-group{
    width: 40rem;
    height: 70px;
}
.form-control{
    background-color:wheat;
}
.card{
    background-color: gray;
    opacity: 0.8;
}

.btn{
    background-color: orange;
}

.form{
    padding-left: 8rem;
    padding-right:7rem;

}