h3{
    color:orange;
}

.form-group{
    
    width: 83%;
    overflow: auto;
}

.profileformcard{
    padding-top: 30px;
    background-color: black;
    opacity: 0.7;
}
form{
   padding-left: 9rem;
   opacity: unset;
}

.btn{
    background-color:orange;
    color:black;
}

label{
    color:white;
}

.form-control{
   
    font-family: sans-serif;
    font-weight: initial;
    color:black;
}

.form-control-plaintext{
    color:rgb(231, 205, 157);
}