.link {
  color:black;
}
.link:hover{
  color:black;
}
Button{
  background-color: ;
}
.ProfileData{
  opacity:0.8; 
  background-color: black;
  width: 28rem;
  padding:10px;
  margin-left: 150px ;
  /* background-color: rgb(245, 235, 142); */
  color: rgb(231, 205, 157);
}

.ProfileImg{
  opacity:1.0;
}